<!--p>
  Project, Year, Month Dropdown Populates
</p>
<div class="Dropdown">
  <h2>Select Project</h2>
  <select (change)='onProjectSelected($event)'>
    <option *ngFor="let project of projects" [value]=project.projectId>{{project.projectName}}</option>
  </select>
</div>
<div class="Dropdown">
  <h2>Select Year</h2>
  <select (change)='onYearSelected($event)'>
    <option *ngFor="let year of years" [value]=year.year>{{year.year}}</option>
  </select>
</div>

<div class="Dropdown">
  <h2>Select Month</h2>
  <select (change)='onMonthSelected($event)'>
    <option *ngFor="let month of months" [value]=month>{{month}}</option>
  </select>
</div>
<!--<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project Id</th>
        <th>Project Name</th>
        <th>Month</th>
        <th>Year</th>
        <th>Revenue</th>
        <th>Billing Hours</th>
      </tr>
      </thead>
       <tbody>
      <tr *ngFor="let revenue of revenues">
        <td>{{revenue.projectId}}</td>
        <td>{{revenue.projectName}}</td>
        <td>{{revenue.month}}</td>
        <td>{{revenue.year}}</td>
        <td>{{revenue.revenue}}</td>
        <td><input  (keyup)="onKey($event)"/></td>
        <td>{{text}}</td>
      </tr>
      </tbody>
  </table>
</div>-->

