<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Welcome to the Cognizant Technology Solutions Cost Profit Service Calculation
    </h1>
  </div>




  <a routerLink="/costprofitcalculation">Cost Profit Calculation</a>
  <!--<a style="margin-left:10px" routerLink="/add">Add User</a>-->
  <br/>
  <div>

    Employee Name : {{emps.name}}
    <br/> Employee Salary: {{emps.salary | currency:'USD'}}
    <br/> Employee Address: {{emps.address}}


    <router-outlet></router-outlet>
  </div>
  
  <!--div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Employee Address</th>
          <th>Employee Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of emps1">
          <td>{{emp.name}}</td>
          <td>{{emp.address}}</td>
          <td>{{emp.salary | currency:'USD'}}</td>
        </tr>
      </tbody>
    </table>

  </div-->
  <div>
    <ngx-datatable
    class="material"
      [headerHeight]="50"
      [rowHeight]="'auto'"
      [footerHeight]="50"
      [count]="true"
      [limit]="2"
      [rows]="emps1"
      [columns]="columns">
    </ngx-datatable>
  </div>